html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mulish', 'san-serif';
}
a {
	text-decoration: none;
	color: black;
}

p {
	color: #7d7987;
}

ul {
	list-style: none;
}